<!DOCTYPE html>
<html lang="en">
    <head>
        <title>wuphf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="platformController.js"></script>
        <script src="integrationService.js"></script>
        <link rel="stylesheet" type="text/css" href="create.css">
    </head>
    <body ng-app="wuphf" ng-controller="platformCtrl">
	    <nav class="navbar navbar-inverse">
			<div class="container-fluid">
		    	<div class="navbar-header">
		      		<a class="navbar-brand" href="#">wuphf</a>
		    	</div>
		    	<ul class="nav navbar-nav">
		      		<li class="active"><a href="#">Create</a></li>
		      		<li><a href="#">Post</a></li>
		    	</ul>
		  	</div>
		</nav>
        <div class="container">
        	<h2>Select a platform</h2>
        	<img ng-repeat="p in platforms" src="images/{{p.logo}}" ng-click="select(p)" ng-class="{selected: p == selected}" class="img-rounded" alt={{p.label}} width="64" height="64">
        	<div class="clearfix"></div>
			<button type="button" class="btn btn-primary btn-lg pull-right" ng-disabled="selected==null" onclick="location.href='form.html';">Create Integration</button>
        </div>
    </body>
</html>