<!DOCTYPE html>
<html lang="en">
    <head>
        <title>wuphf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="formController.js"></script>
        <script src ="storageService.js"></script>
        <link rel="stylesheet" type="text/css" href="form.css">
    </head>
    <body ng-app="wuphf" ng-controller="formCtrl">
    	<nav class="navbar navbar-inverse">
			<div class="container-fluid">
		    	<div class="navbar-header">
		      		<a class="navbar-brand" href="#">wuphf</a>
		    	</div>
		    	<ul class="nav navbar-nav">
		      		<li class="active"><a href="create.html">Create</a></li>
		      		<li><a href="integrations.html">Integrations</a></li>
		      		<li><a href="#">Post</a></li>
		    	</ul>
		  	</div>
		</nav>
		<div class="container">
			<img src="images/{{integration.platform.logo}}" class="img-rounded" alt={{integration.platform.label}} width="48" height="48">
    		<h2>Integration Details</h2>
    		<div ng-show="match()" class="warning"><span class="glyphicon glyphicon-alert"></span> An integration with the same {{integration.idField}} already exists.</div>
    		<form name="userForm">
    			<div class="form-group">
    				<label for="label">Label</label>
    				<input type="text" class="form-control" ng-model="integration.label" id="label" placeholder="Enter Label">
  				</div>
    			<div class="form-group" ng-repeat="f in integration.platform.fields" ng-class="{'has-error': userForm[f.label].$invalid && userForm[f.label].$dirty}">
      				<label for={{f.label}}>{{f.label}} *</label>
      				<input type={{f.type.toLowerCase()}} ng-model="integration.valueMap[f.label]" class="form-control" name={{f.label}} id={{f.label}} placeholder="Enter {{f.label}}" required>
    			</div>
    			* Required field
  			</form>
  			<button type="button" class="btn btn-primary btn-lg pull-right" ng-disabled="userForm.$invalid || match()" ng-click="save()">Save</button>
    	</div>
    </body>
</html>